.card {
    padding: 10px 20px;
    text-align: center;
}
.card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
    text-align: left;
}
.card-img-top {
    padding: 5px;
    max-width: 300px;
    width: 100%;
}
.card-body {
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

@media(max-width:767px) {
    .card-img-top {
        max-width: 200px;
    }
    .card-title {
        text-align: center;
    }
}
@media(max-width: 479px) {
    .card {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 10px;
    }
    .card-body {
        height: auto;
    }
}

