.header {
    background-color: gray;
    min-height: 20px;
}
.header-title {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
}
.header-nav {
    font-size: 16px;
    padding: 10px;
    color: #fff;
}