.footer {
    background-color: #000;
    min-height: 20px;
}
.footer-copy {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 10px;
}
@media(max-width: 400px) {
    .footer-copy {
        max-width: 200px;
    }
}